library {
    background-color: rgb(31, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

book {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 40%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #3b3838;
    box-shadow: 0 4px 6px rgba(94, 0, 0, 0.5);
    position: relative; 
}


description {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 5%; 
    margin-right: auto;
    overflow-y: scroll;
    padding: 5px;
    border-radius: 5px;
}


title {
    display: block;
    margin-bottom: 10px;
    font-family: 'Snell Roundhand', cursive;
    color: rgb(178, 58, 58); 
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 0px;
}

author {
    display: block;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 30px;
    color: rgb(192, 180, 180);
    margin-bottom: -5px;
}


year {
    display: block;
    margin-bottom: 0px;
    font-family: 'Comic Sans MS', sans-serif;
    color: rgb(192, 180, 180);
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 20px;
}



facts, problems {
    display: block;
    margin-bottom: 5px;
    color: #e6d8d6;
}

fact {
    display: block;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 14px;
}

problem {
    display: block;
    margin-left: auto; 
    margin-right: 5%;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 14px;
    margin-bottom: 0px; 
    padding: 0px;
    border-radius: 5px;
}

facts, problems  {
    margin-left: 15px;
}

genre,pages {
    padding: 10px;
    font-size: 15px;
    font-family: 'Bradley Hand', cursive;
    color: rgb(150, 138, 138);
}

topic {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    gap: 50px;
}

about {
    font-family: 'Comic Sans MS', sans-serif;
    margin-bottom: 5px;
    color: rgb(203, 155, 155); 
    font-size: 18px; 
    margin-left: 15%; 
    margin-right: auto;
}

problemsname {
    font-family: 'Comic Sans MS', sans-serif;
    margin-bottom: 0px;
    color: rgb(203, 155, 155); 
    font-size: 18px; 
    margin-left: 0;
    margin-right: auto;
}

review {
    font-style: italic;
    color: #555;
}

